body{
    margin: 0px;
    background-image: url(bk.jpeg);
}
h1{
  
    font-size: 60px;
     }
   
   .container{
      display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     background-color: black;
     padding:25px;
     margin:20px;
     border-radius: 15px;
     
     }
     .container:hover{
       transition: all 0.4s;
       transform: scale( 1.2);
       }
     .titulo{   
       
       display: flex;
     justify-content: center;
     align-items: center;
       }
       
       
   h2{
     display: flex;
     justify-content: center;
     align-items: center;
     
   }
   
   
   
   
   
   /* Extra small devices (phones, 600px and down) */
   /*@media only screen and (max-width: 600px) {...}*/
   /* Small devices (portrait tablets and large phones, 600px and up) */
   /*@media only screen and (min-width: 600px) {...}*/
   /* Medium devices (landscape tablets, 768px and up) */
   /*@media only screen and (min-width: 768px) {.container2{
     display: inline-block;
     margin-left: 25px;
     }}*/
   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) {
    .container{
        display: inline-block;   
    }
    .container3{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
   }
   /* Extra large devices (large laptops and desktops, 1200px and up) */
   /*@media only screen and (min-width: 1200px) {...}*/